<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="../img/Logo2.png">

    <link rel="stylesheet" href="../css/reset.css">
    <!-- CSS reset -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Resource style -->
    <script src="../js/modernizr.js"></script>
    <!-- Modernizr -->
    <title>FAQs </title>
</head>

<body>


    {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}} {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}} {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}} {{{body}}}

    </section>
    <!-- cd-faq -->
    <script src="../js/jquery-2.1.1.js"></script>
    <script src="../js/faq.js"></script>
    <!-- Resource jQuery -->
</body>

</html>
