<div class="row">


    <!-- LEGENDA ALLCATEGORY -->
    <div class="form-group">
        <legend class="legendaallcategory">Todas Categorias</legend>
    </div>


    <div class="row">
        <div class="list-allcategory">
            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="">


                    <!-- Subcategoria1-->
                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-bebeecriança.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                                    <a href="/products/1?categoria=bebes"><h10001 class="tt1">Bebé e Criança</h10001></a>
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=bebes&subcategoria=calcado">
                                            Calçado
                                            </a>
                                    </li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=bebes&subcategoria=roupa">
                                            Roupa
                                            </a>
                                    </li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=bebes&subcategoria=dormir">
                                            Dormir
                                            </a>
                                    </li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=bebes&subcategoria=divertimento">
                                            Divertimento
                                            </a>
                                    </li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=bebes&subcategoria=refeicao">
                                            Refeição
                                            </a>
                                    </li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=bebes&subcategoria=seguranca">
                                           Segurança
                                            </a>
                                    </li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=bebes&subcategoria=passeio">
                                           Passeio
                                            </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">


                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/categorias-livros.jpg" alt="">
                            </div>


                            <div class="sub-categories-container">
                                <div class="namecategory1">
                                <a href="/products/1?categoria=livros"> <h10001 class="tt1">Livros</h10001></a>
                                </div>
                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=livros&subcategoria=universitarios">
                                            Universitários e Académicos
                                            </a>
                                    </li>

                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=livros&subcategoria=didaticos e escolares">
                                            Didáticos e Escolares
                                            </a>
                                    </li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=livros&subcategoria=infantis">
                                            Infantis
                                            </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">
                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-telemoveis.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                                  <a href="/products/1?categoria=telemoveis"> <h10001 class="tt1">Telemóveis</h10001></a> 
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=telemoveis&subcategoria=telemoveis">
                                            Telemóveis 
                                            </a>
                                    </li>

                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=telemoveis&subcategoria=acessorios">
                                            Acessórios
                                            </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">


                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-eletronicos.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                                 <a href="/products/1?categoria=eletronica"> <h10001 class="tt1">Eletrónicos e Tecnologia</h10001> </a>
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=eletronica&subcategoria=camaras fotograficas">
                                            Camaras Fotográficas  
                                            </a>
                                    </li>

                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=eletronica&subcategoria=televisoes">
                                            Televisões
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=eletronica&subcategoria=acessorios">
                                            Acessórios
                                            </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">


                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-computador.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                            <a href="/products/1?categoria=informatica">        <h10001 class="tt1">Informática e Acessórios </h10001> </a>
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=informatica&subcategoria=monitores">
                                             Monitores 
                                            </a>                                    </li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=informatica&subcategoria=impressoras">
                                           Impressoras
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=informatica&subcategoria=calculadoras">
                                            Calculadoras
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=informatica&subcategoria=tablets">
                                            Tablets
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=informatica&subcategoria=computadores fixos">
                                            Computadores Fixos
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=informatica&subcategoria=portateis">
                                            Portáteis
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=informatica&subcategoria=acessorios">
                                             Acessórios
                                            </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">


                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-consolas.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                                   <a href="/products/1?categoria=jogos"> <h10001 class="tt1">Jogos e Consolas </h10001> </a>
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=jogos&subcategoria=playstation 4">
                                             PlayStation 4
                                            </a>
                                    </li>

                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=jogos&subcategoria=xbox one">
                                           Xbox One
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=jogos&subcategoria=wii u">
                                            Wii U
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=jogos&subcategoria=jogos computador">
                                            Jogos Computador 
                                            </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">


                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-moda1.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                              <a href="/products/1?categoria=moda">      <h10001 class="tt1">Moda </h10001> </a>
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=moda&subcategoria=roupa">
                                            Roupa
                                            </a>
                                    </li>

                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=moda&subcategoria=calcado">
                                           Calçado
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=moda&subcategoria=joias e relogios">
                                           Joias, Relógios e Bijuterias
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=moda&subcategoria=malas e acessorios">
                                           Malas e Acessórios 
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=moda&subcategoria=beleza">
                                         Saúde e Beleza 
                                            </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">

                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-eletrodomesticos.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                            <a href="/products/1?categoria=casa">        <h10001 class="tt1">Móveis, Casa e Jardim</h10001> </a>
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=casa&subcategoria=eletrodomesticos">
                                            Eletrodomésticos
                                            </a>
                                    </li>

                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=casa&subcategoria=moveis">
                                           Móveis
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=casa&subcategoria=jardim e bricolage">
                                           Jardim e Bricolage
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=casa&subcategoria=decoracao">
                                           Decoração
                                            </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">

                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-equipamentos.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                                  <a href='/products/1?categoria=equipamentos'>  <h10001 class="tt1">Equipamentos</h10001></a>
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=equipamentos&subcategoria=ferramentas eletricas">
                                            Ferramentas Elétricas
                                            </a>
                                    </li>

                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=equipamentos&subcategoria=ferramentas manuais">
                                           Ferramentas Manuais
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=equipamentos&subcategoria=protecao e seguranca">
                                           Proteção e Segurança
                                            </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">

                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-musica.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                        <a href="/products/1?categoria=musica">            <h10001 class="tt1">Música</h10001> </a>
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=musica&subcategoria=instrumentos musicais e equipamentos">
                                            Instrumentos musicais e Equipamentos
                                            </a>
                                    </li>

                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=musica&subcategoria=musicas gravadas">
                                           Músicas gravadas
                                            </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">

                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-desporto.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                                 <a href="/products/1?categoria=desporto">   <h10001 class="tt1">Desporto</h10001> </a>
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=desporto&subcategoria=exercicio e fitness">
                                            Exercício e Fitness
                                            </a>
                                    </li>

                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=desporto&subcategoria=outdoor">
                                           Desporto Outdoor
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=desporto&subcategoria=equipa">
                                           Desporto Equipa
                                            </a></li>
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=desporto&subcategoria=indoor">
                                           Desporto Indoor
                                            </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-7 category-section" id="dois">

                    <div class="columnright">
                        <div class="columnright-container">

                            <div class="category-image">
                                <img src="./img/Categorias-outros.jpg" alt="">
                            </div>
                            <div class="sub-categories-container">
                                <div class="namecategory1">
                                  <h10001 class="tt1">Outros</h10001>
                                </div>

                                <ul class="sub-categories-list">
                                    <li class="sub-category1">
                                        <a class="categories-with-links" href="/products/1?categoria=outros">
                                            Outros
                                            </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
