<div class="oque">

    <h1 style="font-size:40px;">O que é a criptomoeda?</h1>
    <div class="oque1">


        <p style="font-size:16px;"> A criptomoeda é um tipo de moeda virtual que serve para comprar bens e serviços na internet. Esta utiliza a criptografia para garantir que as transações financeiras através da internet sejam feitas com o máximo de segurança possível. Da mesma
            forma, que a moeda tradicional utiliza listas ocultas no seu interior para evitar falsificações, a criptomoeda também utiliza códigos que são muito difíceis de decifrar. </p>
        <p style="font-size:16px;"> Esta também é descentralizada, o que significa que a moeda pode ser transferida de pessoa para pessoa sem passar por bancos ou intermediários. Por outro lado, como não existe uma autoridade ou bancos a regular as moedas virtuais as taxas são menores
            e é possível realizar transações em qualquer parte do mundo.</p>
        <p style="font-size:16px;"> Existem diversos tipos de moedas virtuais, porém a Kartal através da tecnologia blockchain, teve a ideia de criar a sua própria criptomoeda cujo o nome desta é designado por OurKartal. </p>
        <p style="font-size:16px;">Inicialmente a Kartal disponibiliza para os utilizadores um valor inicial, em que os mesmos podem comprar e/ou vender os produtos disponíveis. </p>
        <div class="website">
            <p style="font-size: 14px;"> A Kartal disponibiliza um vídeo a explicar como se utiliza a OurKartal no nosso website. </p>
        </div>

        <div class="video">
        
            <h1 style="font-size:40px;"> Vídeo</h1>
        
            <div class="video1">
        
            </div>
        </div>


    </div>



</div>


<p></p>
<p></p>
<p></p>
<p></p>
<!-- /container -->
<div class="vantagens">

    <h1 style="font-size:40px;"> Vantagens</h1>

    <div class="vantagens1">
        <p style="font-size:16px;"> 1- As transações com OurKartal são mais rápidas do que os outros meios digitais. Numa transação comum, o envio da criptomoeda de uma carteira digital para outra costuma demorar cerca de 2 a 3 minutos. </p>

        <p style="font-size:16px;"> 2- No sistema bancário tradicional, enviar dinheiro para fora do país ou pagar uma despesa internacional costuma ser uma tarefa complicada ou cara. Enquanto a economia mundial e as trocas internacionais cresceram largamente nas últimas décadas,
            o sistema financeiro não se adaptou ao ritmo de mudança. </p>

        <p style="font-size:16px;"> Porém a Kartal permite que qualquer pessoa do mundo possa efetuar uma compra e/ou venda através do nosso website utilizando a nossa criptomoeda, sendo que não paga taxas de conversão de moeda. </p>

        <p style="font-size:16px;"> 3- Para transações com OurKartal, não existem “dias úteis”. Enquanto existir internet no mundo, é possível enviar a moeda para qualquer um, em qualquer dia e a qualquer horário. </p>

        <p style="font-size:16px;"> 4- Como a OurKartal é uma moeda digital, o governo não pode congelar as moedas, assim como pode fazer com as outras.</p>
        <img src="../img/moeda.png" alt="Mountain View" width="300" height="300">
    </div>

</div>
