<div class="col-md-9">

    <div class="page-wrapper chiller-theme toggled">
        <div class="section-title2">
            <h2 class="title">Propostas de produtos negociáveis</h2>
        </div>
        <main class="page-content2">


            <div class="CPaseguir">
                <!-- STORE -->
                <div id="store2">
                    <!-- row -->
                    <div class="row">

                        <!-- Product Single -->
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <div class="product product-single-linha">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="product-thumb ">
                                        <img src="./img/product01.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="product-body-p2">
                                        <h2 class="product-name"><a href="#">Mala XPTO</a></h2>
                                        <i class="fa fa-viacoin"></i>
                                        <h3 class="product-price"> 32.50 </h3>
                                        <h4 class="vendauser">Proposta de: <span class="classvendedor"><a href="#">bmvcosta</a></span></h4>
                                        <h4 class="proposta">Valor oferecido: <span class="valorproposta"><i class="fa fa-viacoin"></i>29</span></h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="product-btns-propostas">

                                        <div class="offers">
                                            <button type="button" class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> Aceitar</button>
                                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-times-circle"></i> Rejeitar</button>
                                        </div>
                                        <div class="devolverbuttons">
                                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-exclamation-circle"></i> Reportar Problema</button>

                                        </div>

                                    </div>
                                </div>

                                <div class="clearfix visible-sm visible-xs"></div>
                                <div class="clearfix visible-md visible-lg"></div>
                            </div>
                        </div>
                        <!-- /Product Single -->

                        <div class="clearfix visible-md visible-lg"></div>

                        <!-- Product Single -->
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <div class="product product-single-linha">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="product-thumb ">
                                        <img src="./img/product01.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="product-body-p2">
                                        <h2 class="product-name"><a href="#">Mala XPTO</a></h2>
                                        <i class="fa fa-viacoin"></i>
                                        <h3 class="product-price"> 32.50 </h3>
                                        <h4 class="vendauser">Proposta de: <span class="classvendedor"><a href="#">bmvcosta</a></span></h4>
                                        <h4 class="proposta">Valor oferecido: <span class="valorproposta"><i class="fa fa-viacoin"></i>29</span></h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="product-btns-propostas">

                                        <div class="offers">
                                            <button type="button" class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> Aceitar</button>
                                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-times-circle"></i> Rejeitar</button>
                                        </div>
                                        <div class="devolverbuttons">
                                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-exclamation-circle"></i> Reportar Problema</button>

                                        </div>

                                    </div>
                                </div>

                                <div class="clearfix visible-sm visible-xs"></div>
                                <div class="clearfix visible-md visible-lg"></div>
                            </div>
                        </div>
                        <!-- /Product Single -->

                        <div class="clearfix visible-sm visible-xs"></div>
                        <div class="clearfix visible-md visible-lg"></div>

                        <!-- Product Single -->
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <div class="product product-single-linha">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="product-thumb ">
                                        <img src="./img/product01.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="product-body-p2">
                                        <h2 class="product-name"><a href="#">Mala XPTO</a></h2>
                                        <i class="fa fa-viacoin"></i>
                                        <h3 class="product-price"> 32.50 </h3>
                                        <h4 class="vendauser">Proposta de: <span class="classvendedor"><a href="#">bmvcosta</a></span></h4>
                                        <h4 class="proposta">Valor oferecido: <span class="valorproposta"><i class="fa fa-viacoin"></i>29</span></h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="product-btns-propostas">

                                        <div class="offers">
                                            <button type="button" class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> Aceitar</button>
                                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-times-circle"></i> Rejeitar</button>
                                        </div>
                                        <div class="devolverbuttons">
                                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-exclamation-circle"></i> Reportar Problema</button>

                                        </div>

                                    </div>
                                </div>

                                <div class="clearfix visible-sm visible-xs"></div>
                                <div class="clearfix visible-md visible-lg"></div>
                            </div>
                        </div>
                        <!-- /Product Single -->


                        <div class="clearfix visible-sm visible-xs"></div>
                        <div class="clearfix visible-md visible-lg"></div>




                    </div>
                    <!-- /row -->
                </div>
                <!-- /STORE -->
                <!-- store bottom filter -->
                <div class="store-filter-bottom2 clearfix">
                    <div class="pull-left">
                        <ul class="store-pages">
                            <li><span class="text-uppercase">Página:</span></li>
                            <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <div class="page-filter">
                            <span class="text-uppercase">Produtos por página:</span>
                            <select class="input">
										<option value="0">3</option>
									</select>
                        </div>
                    </div>
                </div>
                <!-- /store bottom filter -->
            </div>
        </main>
    </div>
</div>
</div>
</div>
