<!-- section -->
<div class="quem">
    <h1 style="font-size:50px;">Quem somos</h1>
</div>
<div class="barra">

    <hr>
</div>

<div class="emprego">
    <!-- container -->

    <div class="quemsomos1">

        <p style="font-size:16px;"> A Kartal nasceu em Braga no dia 1 Janeiro de 2018, sendo a sede localizada na R.Padre Alfredo José de Sousa, Dume. </p>
        <p style="font-size:16px;"> É uma plataforma online que abrange múltiplas categorias em que os utilizadores deverão estar registados de modo a poderem vender/comprar produtos a/de outros utilizadores, sendo que qualquer pessoa pode publicar um anuncio através do computador.
            </p>
        <p style="font-size:16px;"> As múltiplas categorias oferecidas pela Kartal permite aos utilizadores encontrar e vender uma vasta gama de produtos, desde produtos de bebé e criança, livros, telemóveis, eletrónicos e tecnologia, jogos e consolas, bem como produtos relacionados
            com moda, informática e acessórios, ferramentas e construção, moveis, casa e jardim. </p>
        <p style="font-size:16px;">Porém a Kartal diferencia-se das outras empresas de plataforma online devido as transações serem feitas através de uma criptomoeda. </p>
    </div>



    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <!-- /container -->
    <div class="objetivo">

        <h1 style="font-size:40px;"> Objetivo</h1>

        <div class="quemsomos1">
            <p style="font-size:16px;"> A Kartal permite melhorar a vida das pessoas, sendo uma plataforma online muito útil hoje em dia para o consumidor pois encontra produtos bons a preços acessíveis e também para o vendedor sendo que pode facilmente ganhar algum dinheiro extra.
                Por outro lado, é também um estímulo para a economia local e um incentivo para que os produtos em segunda mão sejam reutilizados, reduzindo o desperdício e ajudando o meio ambiente. </p>
        </div>
    </div>

    <div class="objetivo">
        <h1 style="font-size:40px;">Equipa</h1>



        <div class="row">

            <!-- Product Single -->
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="card">
                    <img src="../img/sousa.png" alt="John" style="width:100%">
                    <h1>Pedro Sousa</h1>
                    <p class="titulo">Presidente</p>
                    <p>Universidade do Minho</p>


                </div>
            </div>
            <!-- /Product Single -->

            <!-- Product Single -->
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="card">
                    <img src="../img/bruno.png" alt="John" style="width:100%">
                    <h1>Bruno Costa</h1>
                    <p class="titulo">Vice-Presidente</p>
                    <p>Universidade do Minho</p>

                </div>
            </div>
            <!-- /Product Single -->

            <div class="clearfix visible-sm visible-xs"></div>
            <div class="clearfix visible-md visible-lg"></div>
        </div>








    </div>

</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
