<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#kartal">KARTAL</a></li>
		<li><a href="#conta">CONTA</a></li>
		<li><a href="#vendas">VENDAS</a></li>
		<li><a href="#compras">COMPRAS</a></li>
		<li><a href="#encomendas">ENCOMENDAS</a></li>
		<li><a href="#pagamentos">PAGAMENTO</a></li>
		<li><a href="#devolucoes">DEVOLUÇÕES</a></li>
		<li><a href="#reembolso">REEMBOLSO</a></li>
		<li><a href="#entregas">ENTREGAS</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="kartal" class="cd-faq-group">
			<li class="cd-faq-title"><h2>KARTAL</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Como posso efetuar uma compra?</a>
				<div class="cd-faq-content">
					<p>Para efetuar uma compra inicialmente deve proceder ao registo na KARTAL aqui. De seguida selecione a categoria dos artigos que deseja comprar e utilize a barra de pesquisa para encontrar com maior facilidade o que deseja. </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Quais os artigos que posso comprar no vosso site?</a>
				<div class="cd-faq-content">
					<p>Na KARTAL vendem-se todo o tipo de artigos. Na secção de categorias é possivel visualizar quais as categorias associadas a cada artigo. De modo a facilitar a sua procura, utilize a barra de pesquisa escrevendo o produto que deseja encontrar. </p>
				</div> <!-- cd-faq-content -->
			</li>

		</ul>
		
		<ul id="conta" class="cd-faq-group">
			<li class="cd-faq-title"><h2>CONTA</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Como modificar as minhas informações pessoais?</a>
				<div class="cd-faq-content">
					<p>Para alterar as suas informações pessoais, basta clicar em A Minha Conta, Informações Pessoais. Neste espaço, pode alterar o seu endereço e-mail, a sua palavra passe, os seus endereços e os seus registos às nossas diferentes newsletters.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Desejo receber / deixar de receber a newsletter</a>
				<div class="cd-faq-content">
					<p>Se você se inscrever para receber a newsletter diária saberá quais as vendas previstas para o dia seguinte e não perderá nenhuma das nossas oportunidades!

Para se inscrever dirija-se à rúbrica A Minha Conta, Informações Pessoais.
Em baixo, nessa página, encontra a secção “As minhas comunicações” com diferentes newsletters nas quais se pode inscrever.

Para deixar de receber a nossa newsletter não é complicado. Dirija-se à rúbrica A Minha Conta, Informações Pessoais.
Em baixo, nesta página, encontrará a secção “As minhas comunicações” assim como um link Gestão das minhas subscrições em curso. Clique para selecionar as newsletters que deseja receber ou não.</p>
				</div> <!-- cd-faq-content -->
			</li>

		</ul>

	
			
		</ul> <!-- cd-faq-group -->
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->