<div class="container reportarProblema1">
        <div class="row">
            <form class="form-horizontal">
                <fieldset>
   
                    <!-- REPORTAR PROBLEMA -->
                    <div class="form-group">
                        <legend class="legendaReportarProblema">Reportar Problema</legend>
                    </div>     
                    
                         
                     <!-- Nome utilizador -->
                    <div class="form-group">
                        <label class="col-md-2 control-label nomeutilizador1">Nome Utililizador</label>
                        <div class="col-md-6">
                            <input disabled id="company" name="company" type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                      
                        <label class="col-md-2 control-label assuntoProblema">Assunto</label>
                        <div class="col-md-6">
                            <input type="text" placeholder="" class="form-control input-md anuncio" required="">
                            <span class="count3"></span>
                        </div>
                    </div>
                   


                    <!-- SCRIPT para limitar número de caracteres -->

                    <script type="text/javascript" src="js/jquery.limiteCaracteres.js"></script>
                    <script type="text/javascript">
                        $(function() {
                            function limitaCaracteres(textarea, counter, limit) {
                                $('.' + counter).text(limit + ' Caracteres restantes');
                                var left;
                                $('.' + textarea).on('keyup', function(e) {
                                    var qtdCaracteres = $(this).val().length;
                                    left = limit - qtdCaracteres;
                                    if (left <= 0) {
                                        left = 0;
                                        var textoAtual = $(this).val();
                                        var novoTexto = '';
                                        for (var n = 0; n < limit; n++) {
                                            novoTexto += textoAtual[n];
                                        }
                                        $(this).val(novoTexto);
                                    }
                                    $('.' + counter).text(left + ' restantes');
                                });
                            }
                            limitaCaracteres('descricaoproblema', 'count4', 200);
                        });

                    </script>
                    
                    <!-- DESCRIÇÃO PROBLEMA -->

                    <div class="form-group">
                        <label class="col-md-2 control-label descricaoproblema">Descrição do Problema</label>

                        <div class="col-md-6">
                            <textarea id="descricaoproblema3" class="form-control input-md descricaoproblema3" required=""> </textarea>
                            <span class="count4"></span>
                        </div>
                    </div>



                        <!-- BOTAO VALIDAR DEVOLUCAO-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" type="submit" class="enviarProblema">Enviar</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>